* {
  box-sizing: border-box;
}


@font-face {
  font-family: Montsrrat;
  src: url(/fonts/Montserrat-Regular.ttf);
}

body {
  margin: 0px;
}

/* base */
a,
h4,
p {
  font-family: Montsrrat;
  font-size: 1 rem;
}

a {
  color: #ffffff;
}

h4 {
  line-height: normal;
}



/*layoust*/
.main-layout>*:not(.full) {
  max-width: 1060px;
  margin: 0 auto;
}

/*header*/
.main-header {
  background-color: #ff7f00;
}

.main-header .main-nav li:not(:last-child) {
  margin-inline-end: 100px;
}

/*helpers*/
.flex {
  display: flex;
}

.flex.align-center {
  align-items: center;
}

.flex.space-between {
  justify-content: space-between;
}


/* list helpers */
.clean-list {
  margin: 0;
  margin-inline-end: 100px;
  padding: 0;
  list-style-type: none;
}



li a {
  text-decoration: none;
}

a:hover {
  color: black;
}

/* ///////////////////// */


.logo img {
  height: 25px;
  width: 123px;
  margin-left: 50px;
  /* margin: 30px, 0px, 32px, 50px; */
  /* background-color: #292929; */
}


/* guy_div */
.col-div {
  flex-direction: column;
  align-items: center;
  padding: 50px;
  margin-left: 20px;
}

.social-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.networkIcons {
  margin: 5px;
  width: 39px;
  height: 39px;
}

.networkIcons:hover {
  transform: scale(1.5);
}

.rounded-circle {
  border-radius: 50%;
  width: 322px;
  width: 322px;
}

.team-member {
  display: flex;
  flex-direction: row;
}

/* ///////////////////////// */

canvas {
  align-self: center;
  justify-self: center;
}



/* //////editor////// */

.memeEditor-container {
  /* display: flex; */
  /* flex-direction: row; */
  /* display: grid; */
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  display: none;
  background-color: lightgray;
}

.editor {
  display: grid;
  padding: 150px;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-areas:
    "span-line   span-line    span-line    span-line    span-line   "
    "text   text    text    text    text   "
    "up   down    add    delete    switch-line"
    "increase   decrease    align-left    align-center    align-right"
    "font-set   font-set    font-set    fill-color    stroke-color"
    "btn-share  btn-share   btn-download    btn-download    btn-download"
  ;
  /* background-color: antiquewhite; */
  width: 600px;
  height: 600px;
}

.editor img {
  width: 25px;
}

.span-line {
  grid-area: span-line;
}

.text-line {
  grid-area: text;
}

.up {
  grid-area: up;
}

.down {
  grid-area: down;
}

.add {
  grid-area: add;
}

.delete {
  grid-area: delete;
}

.switch-line {
  grid-area: switch-line;
}

.increase {
  grid-area: increase;
}

.decrease {
  grid-area: decrease;
}

.align-left {
  grid-area: align-left;
}

.align-center {
  grid-area: align-center;
}

.align-right {
  grid-area: align-right;
}

.font-set {
  grid-area: font-set;
}

.fill-color {
  grid-area: fill-color;
}

.stroke-color {
  grid-area: stroke-color;
}

.btn-share {
  grid-area: btn-share;
  margin: 5px;
  height: 45px;
  width: 120px;
  border-radius: 5px;
  background-color: black;
  color: #ffffff;
}

.btn-download {
  grid-area: btn-download;
  margin: 5px;
  height: 45px;
  width: 170px;
  border-radius: 5px;
  background-color: black;
  color: #ffffff;
}

.btn-download:hover,
.btn-share:hover {
  background-color: darkgray;
}

.btn-download a {
  text-decoration: none;
}


.editor .btn-editor,
.editor select,
.fill-color,
.stroke-color {
  border-radius: 5px;
  background-color: #ffffff;
  width: 45px;
  height: 45px;
  margin: 5px;
  cursor: pointer;
}

.editor select {
  width: 170px;
}

/* /////////////////////////////////// */




.gallery-container img {
  width: 100%;
  cursor: pointer;
}

.gallery-container img:hover {
  transform: scale(1.1);

}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-template-rows: repeat(3, 1fr); */
  grid-gap: 10px;
}



/* ////footer///////// */
.footer {
  background-color: #ff7f00;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.footer img {
  height: 25px;
  width: 123px;
}