* {
  box-sizing: border-box;
}

:root {
  /* pallete */
  /* header color */
  --clr0: #292929;
  /* brand color */
  --clr1: #58c93a;
  /* paragraph color */
  --clr2: #606060;
  /* card title color */
  --clr3: #4f4e4e;
  /* white color */
  --clr4: #ffffff;
  /* border color  */
  --clr5: #e1e0e0;
  /* card border color */
  --clr6: #c2c2c2;
  /* a footer color */
  ---clr7: #818181;
  /* footer bg */
  ---clr8: #f8f8f8;
  /* footer CR */
  ---clr9: #a6a6a6;

  /* bp */
  --s: 600px;
  --m: 740px;
  --l: 980px;
}

body {
  margin: 0px;
  /* background-color: red; */
}

/* base */






/*layoust*/


/*components*/
/*header*/
.main-header {
  height: 66px;
  width: 1200px;
  background-color: #ff7f00;
}

/*helpers*/
.flex {
  display: flex;
}

.flex.align-center {
  align-items: center;
}

.flex.space-between {
  justify-content: space-between;
}



.logo img {
  width: 123px;
  height: 22px;

  /* background-color: #292929; */
}
















.memeEditor-container {
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  display: none;
}


.editor {
  background-color: antiquewhite;
  width: 600px;
  height: 600px;
}

img {
  width: 100%;

}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-template-rows: repeat(3, 1fr); */
  grid-gap: 10px;
}