* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: red;
}

.memeEditor-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#my-canvas {
  width: 600px;
  height: 600px;
  background-color: white;
}

.editor {
  background-color: antiquewhite;
  width: 600px;
  height: 600px;
}


.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}